* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

.flex-row, .userinfowrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col-center, .cards-container .card, .contact-container .email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-center, .about-container, .navigation-bar-container, .navigation-bar-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.flex-23 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}

#root {
  list-style: none;
}

#root a {
  text-decoration: none;
}

#root .active {
  color: #037fff !important;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

section {
  padding: 0 11%;
}

.active {
  color: #c770f0;
  font-weight: 600;
}

.btn-large {
  font-size: 1.8rem;
  padding: 1.4rem 4rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: #fff;
  border: none;
  border-radius: 0.4rem;
}

.btn-large a {
  color: #191d2b;
}

.btn-large {
  padding: 1rem 3.2rem;
  background: #037fff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.btn-large a {
  color: #fff;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94));
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 60%;
  }
  .section-heading {
    text-align: center;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .flex-48 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
  section {
    padding: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  #root section {
    padding: 3rem 2rem !important;
  }
  .section-heading {
    text-align: center;
  }
}

.about-container {
  height: 90vh;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(17, 16, 16, 0.582)), to(rgba(12, 8, 24, 0.904))), url("../../public/Images/home-bg.jpg");
  background: linear-gradient(to bottom left, rgba(17, 16, 16, 0.582), rgba(12, 8, 24, 0.904)), url("../../public/Images/home-bg.jpg");
  background-position: 70% 70%;
  color: #fff;
}

.about-container figure {
  width: 100% !important;
}

.about-container figure img {
  width: 100%;
}

.about-container h1 {
  font-size: 6rem;
}

.about-container h2 {
  font-size: 3rem;
}

.about-container .moving-text {
  overflow: hidden;
  color: #037fff;
}

.about-container .wavehand {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.aboutme-container {
  height: auto;
  padding: 4% 11%;
}

.userinfowrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.userinfowrapper .userinformation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.userinfowrapper h3 {
  color: #037fff;
  font-size: 2.5rem;
}

.userinfowrapper figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  width: 100%;
}

.userinfowrapper figure img {
  width: 100% !important;
  border-radius: 50%;
  border: 0.3rem solid #037fff;
  outline: 0.1rem solid #191d2b;
}

.userinfowrapper .stack-container {
  margin: 1rem 0;
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .about-container figure {
    width: 40%;
  }
  .about-container figure img {
    width: 100% !important;
  }
  .userinfowrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .userinfowrapper h3 {
    text-align: center;
  }
  .userinfowrapper figure {
    width: 50% !important;
    margin: 2rem 0;
  }
  .userinfowrapper figure img {
    width: 100% !important;
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
  .aboutme-container h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .aboutme-container .stack-container {
    margin: 3rem 0;
  }
  .aboutme-container .stack-container h4 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4rem !important;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  .about-container figure {
    padding: 2rem 0;
  }
}

.navigation-bar-container {
  position: relative;
  background-color: #fff;
  padding: 1rem 11%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navigation-bar-container .logo-container img {
  width: 5rem;
  border-radius: 50%;
}

.navigation-bar-container .logo-container span {
  display: inline-block;
  font-weight: 800;
  color: #191d2b;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-left: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.navigation-bar-container .hamburg-container {
  display: none;
}

.navigation-bar-container .navigationbar li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  padding: 0 1rem;
}

.navigation-bar-container .navigationbar li a {
  color: #191d2b;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
}

#resume-button {
  padding: 0.5rem 1.4rem;
  background: #bf3dd6;
  color: #fff;
  border-radius: 0.6rem;
  border: none;
}

#resume-button a {
  color: #fff;
}

#resume-button:hover {
  background-color: #aa34be;
}

#resume-btn {
  border: none;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .navigation-bar-container {
    padding: 2rem;
  }
  .navigation-bar-container .hamburg-container {
    display: inline-block !important;
  }
  .navigation-bar-container .hamburg-container svg {
    font-size: 3rem;
    color: #333;
  }
  .navigation-bar-container .navigationbar {
    display: none;
  }
  #showmenu {
    display: inline-block;
    z-index: 1000;
    background-color: #fafafa;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  #showmenu li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    border-top: 0.1rem solid #ddd;
  }
}

.container {
  padding: 2% 11%;
}

.section-heading {
  font-size: 4rem;
  color: #191d2b;
}

.cards-container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr,4);
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.cards-container .card {
  background: #191d2b;
  padding: 4rem;
  border-radius: .6rem;
}

.cards-container .card svg {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #037fff;
  text-align: center;
}

.cards-container h3 {
  color: #f7f7f7;
}

@media only screen and (max-width: 768px) {
  .cards-container {
    -ms-grid-columns: (1fr,2);
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.project-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr,3);
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.project-section {
  padding: 0;
}

.project-section .project-wrapper {
  padding: 2% 11%;
}

.project-card {
  padding: 2rem;
  border-radius: 0.6rem;
  color: #191d2b;
  border: 0.1rem solid #ddd;
}

.project-card figure img {
  width: 100% !important;
  border-radius: 0.3rem;
}

.project-card h3 {
  font-size: 2.8rem;
  color: #191d2b;
}

.project-card p {
  margin: 1.2rem 0;
  font-size: 1.8rem;
  color: gray;
  font-weight: 500;
}

.project-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin-top: 1rem;
}

.project-card ul svg {
  color: rgba(0, 98, 185, 0.8);
  font-size: 3rem;
  margin: 0 2rem;
}

.getlatest-projects {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 98, 185, 0.8)), to(rgba(0, 98, 185, 0.8))), url("../../public/Images/common-bg.svg");
  background: linear-gradient(rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url("../../public/Images/common-bg.svg");
  background-size: cover;
  padding: 6% 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.getlatest-projects h2 {
  font-size: 3.6rem;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.getlatest-projects button {
  background: #fff;
}

.getlatest-projects button a {
  color: #191d2b;
}

@media only screen and (max-width: 768px) {
  .project-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .project-section .project-wrapper {
    padding: 0rem !important;
  }
  .getlatest-projects {
    padding: 6rem 11% !important;
  }
  .getlatest-projects h2 {
    text-align: center;
  }
}

.contact-container {
  font-family: "Source Sans Pro", sans-serif;
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 90vh;
}

.contact-container h2 {
  font-size: 4rem;
  color: #191d2b;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.contact-container .userInfo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .userInfo-container h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.contact-container .socialmediacontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .socialmediacontainer a {
  display: inline-block;
  background-color: #37aac1;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.contact-container .socialmediacontainer a svg {
  color: #fff;
  width: 3rem;
}

.contact-container .socialmediacontainer a:hover {
  background: rgba(0, 98, 185, 0.8);
}

.contact-container .email-container {
  margin: 2rem 0;
}

.contact-container .email-container h4 {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.contact-container .email-container h4 a {
  color: #037fff;
}

.contact-container .email-container h4 a:hover {
  color: #8700ff;
}

.contact-container .resume-btn {
  background: #aa34be;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.8rem 2.4rem;
  border-radius: 0.6rem;
  display: inline-block;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 380px) {
  .contact-container .resume-btn {
    padding: 0.6rem 1.4rem;
    font-size: 1.5rem;
  }
  .email-container h4 {
    font-size: 1.3rem !important;
  }
}
/*# sourceMappingURL=index.css.map */